{
  "presets": [
    ["env", {
      "modules": false,
      "debug": false,
      "targets": {
        "browsers": [
          "> 1%",
          "not ie <=10",
          "iOS >7"
        ]
      }
    }],
    "stage-3"
  ],
  "plugins": ["transform-runtime"]
}
