/*
  Remove margin
*/

h1,
h2,
h3,
h4,
h5,
h6,
p, ul{
  margin: 0;
}

/* Reset list element style*/
ul,
ol{
  list-style: none;
  padding-left: 0;
}

button{
  display: inline-block;

  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  outline: none;
  font: inherit;
  color: inherit;
  overflow: visible;
  line-height: normal;
  background: none;

  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
}

* {
  box-sizing: border-box;
}

i.icon {
  font-style: normal;
  display: inline-block;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.use-flex {
  display: flex;


  >.flex-1 {
    flex: 1;
  }

  &.is-column {
    flex-direction: column;
  }

  // 新语法
  &.flex-is-column {
    flex-direction: column;
  }

  &.flex-direction-row-reverse {
    flex-direction: row-reverse;
  }

  &.is-wrap {
    flex-wrap: wrap;
  }

  &.is-no-wrap {
    flex-wrap: nowrap;
  }

  &.is-center {
    align-items: center;
    justify-content: center;
  }

  &.is-justify-between {
    justify-content: space-between;
  }

  &.is-align-center {
    align-items: center;
  }

  &.is-align-end {
    align-items: flex-end;
  }

  &.is-justify-center {
    justify-content: center;
  }

  &.is-justify-end {
    justify-content: end;
  }

}
